@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoItalic';
  src: local('RobotoItalic'), url('./Roboto-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url('./Roboto-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url('./Roboto-Bold.ttf') format('ttf');
}
