@font-face {
  font-family: 'Manrope';
  src: local('ManropeRegular'), url('./Manrope-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'ManropeMedium';
  src: local('ManropeMedium'), url('./Manrope-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'ManropeSemiBold';
  src: local('ManropeSemiBold'), url('./Manrope-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'), url('./Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: local('MontserratSemiBold'),
    url('./Montserrat-SemiBold.ttf') format('ttf');
}
